footer {

    padding: 2px;
  
    background-color: black;
  
    height: 30px;
  
    margin-top:auto;

    
  
  }
  
  .footer-text{
  
    padding: 10px;
  
    text-align: center;
  
    letter-spacing: 1px;
  
    color: white;
  
  }