<div class="home-content">

    <div class="book-text head">Books
  
        <span class="item-text">({{this.length}})</span>
  
        <select class="sort-content" name="sortbook" id="sortbook">
  
          <option value="sort by name des">New Arrivals</option>
  
            <option value="sort by Price">Sort by relevance</option>
  
            <option value="sort by Price">Price : Low to High</option>
  
            <option value="sort by name asc">Price : High to Low</option>
  
        </select>
  
    </div>
  
    <!-- <mat-card>
  
   <mat-card-content class="book1 book"><img src="../../../assets/book1.png" alt="book1">
  
              <div class="book-content">
  
                  <div class="book-title">UX Dummies</div>
  
                  <div class="auther-name">By </div>
  
                  <div class="book-price">Rs.350</div>
  
                  <button class="add-to-cart" mat-stroked-button (click)="onAdd()">{{button}}</button>
  
                  <button class="wishlist" mat-stroked-button>WishList</button>
  
              </div>
  
          </mat-card-content>
  
          <mat-card-content class="book2 book"><img src="../../../assets/book2.png" alt="book2">
  
              <div class="book-content">
  
                  <div class="book-title">The Alchemist</div>
  
                  <div class="auther-name">By </div>
  
                  <div class="book-price">Rs.500</div>
  
                  <button class="add-to-cart" mat-stroked-button (click)="onAdd()">{{button}}</button>
  
                  <button class="wishlist" mat-stroked-button>WishList</button>
  
              </div>
  
          </mat-card-content>
  
          <mat-card-content class="book3 book"><img src="../../../assets/book3.png" alt="book3">
  
              <div class="book-content">
  
                  <div class="book-title">Lean UX</div>
  
                  <div class="auther-name">By </div>
  
                  <div class="book-price">Rs.200</div>
  
                  <button class="add-to-cart" mat-stroked-button (click)="onAdd()">{{button}}</button>
  
                  <button class="wishlist" mat-stroked-button>WishList</button>
  
              </div>
  
          </mat-card-content>
  
          <mat-card-content class="book4 book"><img src="../../../assets/book4.png" alt="book4">
  
              <div class="book-content">
  
                  <div class="book-title">UX Design</div>
  
                  <div class="auther-name">By </div>
  
                  <div class="book-price">Rs.400</div>
  
                  <button class="add-to-cart" mat-stroked-button (click)="onAdd()">{{button}}</button>
  
                  <button class="wishlist" mat-stroked-button>WishList</button>
  
              </div>
  
          </mat-card-content>
  
          <mat-card-content class="book5 book"><img src="../../../assets/book.png" alt="book5">
  
              <div class="book-content">
  
                  <div class="book-title">The Design of <br> Everyday Things</div>
  
                  <div class="auther-name">By </div>
  
                  <div class="book-price">Rs.700</div>
  
                  <button class="add-to-cart" mat-stroked-button (click)="onAdd()">{{button}}</button>
  
                  <button class="wishlist" mat-stroked-button>WishList</button>
  
              </div>
  
          </mat-card-content>
  
          <mat-card-content class="book6 book"><img src="../../../assets/book6.png" alt="book6">
  
              <div class="book-content">
  
                  <div class="book-title">Mastering Share <br> point framework</div>
  
                  <div class="auther-name">By </div>
  
                  <div class="book-price">Rs.350</div>
  
                  <button class="add-to-cart" mat-stroked-button (click)="onAdd()">{{button}}</button>
  
                  <button class="wishlist" mat-stroked-button>WishList</button>
  
              </div>
  
          </mat-card-content>
  
  
  
  
        </mat-card>
   -->
   <div class="main-content">
    <mat-card *ngFor="let book of list" class="books">
        <mat-card-content class="book">
            <img src="https://www.adazing.com/wp-content/uploads/2022/12/Harry-Potter-Book-Covers-Order-of-the-Phoenix-667x1024.jpg" alt="book2" height="200px" width="50px">
            <div class="book-content">
            <div class="book-title">{{book.bookName}}</div>
            <div class="auther-name">By {{book.bookAuthor}}</div>
            <div class="book-price">Rs.{{book.bookPrice}}</div>
            <button class="add-to-cart actions" mat-stroked-button (click)="onAdd()">{{button}}</button>
            <button class="wishlist actions" mat-stroked-button>WishList</button>
            </div>
        </mat-card-content>
    </mat-card>

    
</div>      
</div>

      <div class="footeralign">
        Copyright ©2023 Bookstore Private Limited All Rights Reserved <a style="color:blue ;" href="">Privacy Policy</a>  & <a style="color:blue ;" href="">Terms & Conditions</a>
    </div>
    